html, body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    display: flex;
    flex-direction:column;
    padding: 50px;
    background-color: slategray;
}

.done {
    text-decoration: line-through;
    color: green;
}